@import "mixins";
@import "reset";

// PARTIALS

@import "vars";
@import "base";

// COMPONENTS

@import './components/instructions';

// OTHER

button {
  display: block;

  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

  opacity: 0;

  transition-duration: 0.5s;
}

    button.active {
      opacity: 1;
    }
