body {
  text-align: center;
  background-color: white;
  font-family: Helvetica;
}
.header1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.header2 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.header2 h3 {
  color:white;
}
.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h4 {
  font-size: 18px;
  color: white;
  text-decoration: underline;
  margin: 15px 15px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: grey;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  color: grey;
}
p {
  font-size: 14px;
  color:grey;
}
.copywrite {
  font-size: 11px;
  color: white;
}
