.instructions {
  display: flex;
  flex-direction: column;

  margin-left: 2rem;
  margin-right: 2rem;
}

.instructions h1 {
  margin-bottom: 1rem;

  font-weight: 700;
  font-size: 2.5rem;

  color: $title-blue;
}

.instructions p {
  margin-bottom: 1rem;
  color: $body-blue;
}

.bold {
  font-weight: 700;
  color: $bold;
}
